<div class="container-fluid">
  <div class="jumbotron text-center cimg" style="background-image:url('assets/images/cEric3.jpg')">
  </div>
  <div class='panel'>
    <div class="cCover">
      <h1 class="special">LAUD&nbsp;<img src="assets/images/loud.png" width='45px;' style="margin-bottom:14px;"/><br/>PRODUCTIONS</h1>
      <h5>About</h5>    
      <h5>Blog</h5>
      <h5>Contact</h5>
      <!--<h5>keep you company a trusted source in a changing world</h5>-->
    </div>
  </div>
  <div class="container">
  <div class="about row">
    <div class="sblock"></div>
    <div class="col-sm-3">
      <img class="calli" src="assets/images/eric.jpg"/>
    </div>
    <div class="col-sm-9">
      <div class="aboutBio">
        <h3>Founder</h3>
        <h1 class="special">
          I'm Eric Lau
        </h1>
        <p>
        Nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur? At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similiq
        </p>
      </div> 
    </div>
    </div>
      <div class="blog">
    <div class="color">
      <img class="" src="assets/images/bookmark.png"/>
      <p class="category">INNOVATION</p>
    </div>
    <div class="title">
      <h1>Flowing with Change</h1>
      <h5 class="special"><img class="time" src="assets/images/time.png"/>&nbsp;6 months ago</h5>
    </div>
    <div class="">
      <div class="body">
      <!-- Caro -->
        <!-- caro -->
        <!-- Peninsula Caro 
        <div class="cW">
          <div id="" class="slider-for">
            <div ng-repeat="v in images" class="main" ng-style="{'background-image': 'url(' + v + ')'}"></div>
          </div>
          <div class="cover"></div>
          <div id="" class="slider-nav" role="listbox">
          <div ng-repeat="v in images" class="tile" ng-style="{'background-image': 'url(' + v + ')'}"></div>
          </div>
        <i class="icon ion-chevron-left prev"></i>
        <i class="icon ion-chevron-right next"></i>
        </div>
        <!--End of Peninsual Caro-->
        <!-- Static Caro -->
        <div class="cW">
          <div id="" class="slider-for">
            <div class="main" style='background-image: url("assets/images/cEric1.jpg");'></div>
            <div class="main" style='background-image: url("assets/images/cEric2.jpg");'></div>
            <div class="main" style='background-image: url("assets/images/sEric3.jpg");'></div>
          </div>
          <div id="" class="slider-nav" role="listbox">
            <div class="tile" style='background-image: url("assets/images/cEric1.jpg");'></div>
            <div class="tile" style='background-image: url("assets/images/cEric2.jpg");'></div>
            <div class="tile" style='background-image: url("assets/images/sEric3.jpg");'></div>
          </div>
        <i class="icon ion-chevron-left prev"></i>
        <i class="icon ion-chevron-right next"></i>
        </div>
        <!-- End of Static Caro-->
        <script type="text/javascript">
        console.log('does this work?');
          $(document).ready(function(){
            $('.slider-for').slick({
              slidesToShow: 1,
              slidesToScroll: 1,
              fade: true,
              prevArrow: $('.prev'),
              nextArrow: $('.next'),
              asNavFor: '.slider-nav'

            });
            $('.slider-nav').slick({
              slidesToShow: 8,
              slidesToScroll: 1,
              asNavFor: '.slider-for',
              dots: false,
              arrows:false,
              centerMode: false,
              focusOnSelect:true
            });
          });
        </script> 

      <!-- endcaro -->
      <!-- End of Caro-->
          <p>
          Duis mollis eget augue et lobortis. Nam nunc justo, aliquet sed condimentum vel, faucibus in dolor. Proin eleifend hendrerit rhoncus. Maecenas in tellus posuere, placerat metus vehicula, aliquet sapien. 
        </p>
        <p class="blockquote">
          Maecenas egestas aliquet nisi efficitur accumsan. Nullam dui eros, porta eu lorem eget, lacinia tempus velit. Vestibulum magna eros, dapibus ac velit ac, accumsan rutrum velit. Sed ultricies aliquet odio, 
        </p>
        <p>
        Duis mollis eget augue et lobortis. Nam nunc justo, aliquet sed condimentum vel, faucibus in dolor. Proin eleifend hendrerit rhoncus. Maecenas in tellus posuere, placerat metus vehicula, aliquet sapien. 
        </p>
      </div>
      <br/>
      <div class="showless">
      <img class="pull-left" src="assets/images/reading.png"/>
      <img class="pull-right" style="padding-bottom:5px;" src="assets/images/icons.png"/>
      <div class="clearfix"></div>
      </div>
    </div>
  </div>
    </div>
    </div>
    <div class="container">
    <div class="about row">
      <div class="col-sm-3">
        <img class="calli" src="assets/images/eric.jpg"/>
      </div>
      <div class="col-sm-9">
        <div class="aboutBio">
          <h3>Content writer</h3>
          <h1 class="special">
            I'm Josh
          </h1>
          <p>
             amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? 
          </p>
        </div> 
      </div>
    </div>
    <div class="about row">
      <div class="col-sm-3">
        <img class="calli" src="assets/images/eric.jpg"/>
      </div>
      <div class="col-sm-9">
        <div class="aboutBio">
          <h3>Web Developer</h3>
          <h1 class="special">
            I'm Alexander McNulty
          </h1>
          <p>
            incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in e
          </p>
        </div> 
      </div>
    </div>
  </div>
</div>
